@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Sacramento&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background: rgb(241, 241, 241);
}

/* post scrollbar */
#post::-webkit-scrollbar {
  /* width: 6px; */
  display: none;
}

#post::-webkit-scrollbar-track {
  background: transparent;
}

#post::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 0px none #a43d3d;
}

/* artist scrollbar */
#artist::-webkit-scrollbar {
  width: 6px;
}
#artist::-webkit-scrollbar-track {
  background: transparent;
}

#artist::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
  border: 0px none #a43d3d;
}

/* last section scrollbar */
#last-section::-webkit-scrollbar {
  display: none;
}
#last-section::-webkit-scrollbar-track {
  background: transparent;
}

#last-section::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
  border: 0px none #a43d3d;
}
